@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

@font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Light";
                          src: url('../fonts/SF-Pro-Display-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        
.howitworks {
  width               : 100%;
  min-width           : 1900px;
  height              : 100vh;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter12 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter12-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter12-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter12-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter12-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter13 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter13-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter13-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter13-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter13-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter14 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter14-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter14-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter14-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter14-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter15 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.howitworks .undraworganizephotosd5nr {
  background-color    : rgba(255,255,255,0.0);
  right               : 171px;
  top                 : 288px;
  height              : 368px;
  width               : 455px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 368px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 299px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 305px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 41px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 306px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 25px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 25px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 323px;
  box-sizing          : border-box;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  border-radius       : 35px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath1 {
  background-color    : rgba(242, 242, 242, 1.0);
  top                 : 18px;
  height              : 4px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 6px;
  box-sizing          : border-box;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 209px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 307px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 3px;
  box-sizing          : border-box;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 3px;
  box-sizing          : border-box;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 3px;
  box-sizing          : border-box;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 9px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 282px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath6 {
  background-color    : rgba(96, 104, 183, 1.0);
  top                 : 89px;
  height              : 60px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  border-radius       : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 62px;
  box-sizing          : border-box;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  border-radius       : 12px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : 25px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath8 {
  background-color    : rgba(96, 104, 183, 1.0);
  top                 : 193px;
  height              : 60px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  border-radius       : 12px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.howitworks .undrawdownloadpc33 .rectanglepath9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 62px;
  box-sizing          : border-box;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  border-radius       : 12px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(63, 61, 86, 1.0);
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.howitworks .undrawdownloadpc33 .shape9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 25px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 121px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 348px;
  height              : 19px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : 6px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 261px;
  height              : 92px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 40px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 13px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 121px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : 25px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 9px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : 86px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 174px;
  height              : 18px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.05;
}
.howitworks .undrawdownloadpc33 .shape24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : 16px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 166px;
  height              : 49px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 166px;
  height              : 49px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 121px;
  height              : 25px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 18px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 171px;
  height              : 19px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : 3px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : 16px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : 13px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : 16px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 348px;
  height              : 18px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 361px;
  height              : 6px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : 33px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .group .shape54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 3px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .group .shape110 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .group .shape210 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .group .shape310 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : 1px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : 3px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 286px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : 4px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : 7px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.howitworks .undrawdownloadpc33 .shape42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : 83px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 261px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 259px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 298px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 323px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 321px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : 17px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawdownloadpc33 .shape52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 359px;
  height              : 9px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.howitworks .undrawdownloadpc33 .shape53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 1px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .undrawpersonalizationtriu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 283px;
  height              : 377px;
  width               : 453px;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps {
  background-color    : rgba(255,255,255,0.0);
  top                 : 761px;
  height              : 261px;
  width               : 1517px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .downloadtheappre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : auto;
  width               : 398px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.howitworks .numbersteps .selectfromvarious {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : auto;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 548px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.howitworks .numbersteps .selectfromvarious .span1 {
  
}
.howitworks .numbersteps .selectfromvarious .span2 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.howitworks .numbersteps .selectfromvarious .span3 {
  
}
.howitworks .numbersteps .selectfromvarious .span4 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.howitworks .numbersteps .selectfromvarious .span5 {
  
}
.howitworks .numbersteps .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group2 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group2 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 56.0px;
}
.howitworks .numbersteps .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 709px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group21 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group21 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 56.0px;
}
.howitworks .numbersteps .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 1269px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group22 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .numbersteps .group22 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 56.0px;
}
.howitworks .numbersteps .learnhowtocurate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : auto;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 1090px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.howitworks .howitworks1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 64.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 75.0px;
}
.howitworks .navbarcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1921px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .navbarcopy .navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1921px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .navbarcopy .cura {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(8, 8, 8, 1.0);
  text-align          : left;
  line-height         : 56.0px;
}
.howitworks .navbarcopy .cura:hover {
  transform           : translate(0, -5px);
}
.howitworks .navbarcopy .howitworks2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1106px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.howitworks .navbarcopy .howitworks2:hover {
  transform           : scale(1.1);
}
.howitworks .navbarcopy .faq {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1343px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.howitworks .navbarcopy .faq:hover {
  transform           : scale(1.1);
}
.howitworks .navbarcopy .download {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(8, 8, 8, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.howitworks .navbarcopy .download:hover {
  transform           : scale(1.1);
}
.howitworks .navbarcopy .ourmission {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.howitworks .navbarcopy .ourmission:hover {
  transform           : scale(1.1);
}
.howitworks .navbarcopy .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 50px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 1530px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.howitworks .navbarcopy .signup:hover {
  transform           : scale(1.1);
}
.howitworks .navbarcopy .signup .rectangle {
  background-color    : rgba(96, 104, 183, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.howitworks .navbarcopy .signup .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}