@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

@font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Light";
                          src: url('../fonts/SF-Pro-Display-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        
.ourmission {
  width               : 100%;
  min-width           : 1900px;
  height              : 100vh;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter16 {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter16-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter16-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter16-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter16-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter17 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.ourmission .ourmission1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 64.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 75.0px;
}
.ourmission .curameansu2018careu2019w {
  background-color    : rgba(255,255,255,0.0);
  top                 : 325px;
  height              : auto;
  width               : 791px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 64.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 75.0px;
}
.ourmission .undrawproductteardownelol {
  background-color    : rgba(255,255,255,0.0);
  right               : 170px;
  top                 : 240px;
  height              : 594px;
  width               : 676px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ourmission .navbarcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1921px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ourmission .navbarcopy .navbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1921px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ourmission .navbarcopy .cura {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(8, 8, 8, 1.0);
  text-align          : left;
  line-height         : 56.0px;
}
.ourmission .navbarcopy .cura:hover {
  transform           : translate(0, -5px);
}
.ourmission .navbarcopy .howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1106px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.ourmission .navbarcopy .howitworks:hover {
  transform           : scale(1.1);
}
.ourmission .navbarcopy .faq {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1343px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.ourmission .navbarcopy .faq:hover {
  transform           : scale(1.1);
}
.ourmission .navbarcopy .download {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(8, 8, 8, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.ourmission .navbarcopy .download:hover {
  transform           : scale(1.1);
}
.ourmission .navbarcopy .ourmission2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(107, 107, 107, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.ourmission .navbarcopy .ourmission2:hover {
  transform           : scale(1.1);
}
.ourmission .navbarcopy .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 50px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 1530px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.ourmission .navbarcopy .signup:hover {
  transform           : scale(1.1);
}
.ourmission .navbarcopy .signup .rectangle {
  background-color    : rgba(96, 104, 183, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ourmission .navbarcopy .signup .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}